.order-table{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.order-table th,
.order-table td{
    border: 1px solid black;
    padding:10px;
    text-align:center;
}
.order-table th{
    background-color:darkkhaki;
}
.order-table td{
    background-color:greenyellow;
}