GOOGLE_CLIENT_ID=15310324224-f9fatt9ee0upfuhjc6t1p8bdf9roli3m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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 
GOOGLE_REDIRECT_URI=http://localhost/php_RSCAFE/google_callback.php

GIT_CLIENT_ID=Ov23liYbu9YQiZZGB7Pc
GIT_CLIENT_SECRET=1cbdc721b378741391d5275d268330f88809d6ba
GIT_REDIRECT_URI=http://localhost/php_RSCAFE/github_callback.php